@import 'variables';

header {
  padding: 0 15px;
  background: $primary-color;
  border-bottom: 2px solid $border-color;
  display: flex;
  justify-content: flex-start;
  nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
  li {
    cursor: pointer;
    color: white;
    padding: 0 5px;
    font-weight: bold;
    i {
      padding: 0 5px;
    }
  }
  .action-cont {
    flex-grow: 1;
  }
  .sign-in {
    color: white;
  }
  .logo, .sign-in {
    align-self: center;
    font-weight: bold;
    text-transform: none;
  }
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  .photo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    img {
      width: 100%;
      border: 2px solid $border-color;
      border-radius: 50%;
    }
  }
  .nickname {
    color: white;
    font-weight: bold;
  }
  .dropdown-menu {
    visibility: hidden;
    z-index: -5;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    border: 2px solid $border-color;
    li {
      display: block;
      text-align: left;
      padding: 5px 0;
    }
    ul {
      padding: 0 10px;
    }
  }
  &:hover .dropdown-menu {
    visibility: visible;
    z-index: 3;
  }
}

.mob-bars {
  font-weight: bold;
  color: white;
  font-size: 25px;
  display: none;
  align-self: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    position: relative;
    justify-content: space-between;
    nav {
      background: $primary-color;
      visibility: hidden;
      z-index: -5;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid $border-color;
      &.open {
        visibility: visible;
        z-index: 5;
        display: block;
      }
      ul {
        display: block;
        margin: 0;

        li {
          padding: 10px 0;
          display: block;

        }
      }
      .sign-in{
      padding:  10px;
        display: block;
      }
    }
  }
  .mob-bars {
    display: flex;
  }
  .profile{
    justify-content: flex-start;
    padding: 10px 0;
    .dropdown-menu{
      width: 100%;
      ul{
        padding: 0 40px;
      }
    }
  }
}

