@import 'variables';

header {
  padding: 0 15px;
  background: $primary-color;
  border-bottom: 2px solid $border-color;
  display: flex;
  justify-content: flex-start;
 ul{
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0 5px;
 }
  li {
    color: white;
    padding: 0 5px;
    font-weight: bold;
    i{
      padding: 0 5px;
    }
  }
  .action-cont{
    flex-grow: 1;
  }
  .sign-in{
  color: white;
     }
  .logo,.sign-in{
    align-self: center;
    font-weight: bold;
    text-transform: none;
  }
}
