@import 'variables';

header {
  padding: 0 15px;
  background: $primary-color;
  border-bottom: 2px solid $border-color;
  display: flex;
  justify-content: flex-start;
  > ul{
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0 5px;
 }
  li {
    color: white;
    padding: 0 5px;
    font-weight: bold;
    i{
      padding: 0 5px;
    }
  }
  .action-cont{
    flex-grow: 1;
  }
  .sign-in{
  color: white;
     }
  .logo,.sign-in{
    align-self: center;
    font-weight: bold;
    text-transform: none;
  }
}
.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  .photo{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    img{
      width: 100%;
      border:2px solid $border-color;
      border-radius: 50%;
    }
   }
  .nickname{
    color: white;
    font-weight: bold;
  }
  .dropdown-menu{
    visibility: hidden;
    z-index: -5;
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    border: 2px solid $border-color;
    li{
      display: block;
      text-align: left;
      padding: 5px 0;
    }
    ul{
      padding: 0 10px;
    }
  }
  &:hover .dropdown-menu{
    visibility: visible;
    z-index: 3;
  }
}
