<div class="side-navbar">
  <div class="sidebar-header">
    <div class="sidebar-avatar">
      <img src="https://avatars0.githubusercontent.com/u/1?v=4" alt="">
    </div>
    <div class="title">
      <h4 class="title-user">
        UserName UserLastName
      </h4>
      <p class="title-position">Web Designer</p>
    </div>
  </div>
  <span class="sidebar-category">Main</span>
  <ul class="sidebar-sections">
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="fas fa-table"></i>
        Tables
      </a>
    </li>
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <<i class="far fa-chart-bar"></i>
        Charts
      </a>
    </li>
  </ul>
</div>