<form [formGroup]="form" (ngSubmit)="submit()">
    <h1 mat-dialog-title>Create project</h1>
    <div mat-dialog-content>
        <div class="form-row">
            <label for="nameInput">Name:</label>
            <input class="form-row__input" id="nameInput" type="text" formControlName="name">
        </div>
        <div class="form-row">
            <label for="typeInput">Type:</label>
            <select class="form-row__input" id="typeInput" formControlName="type">
                <option
                        *ngFor="let type of projectTypes"
                        [value]="type"
                >{{ type }}
                </option>
            </select>
        </div>
        <div class="form-row">
            <label for="visibilityInput">Visibility:</label>
            <select class="form-row__input" id="visibilityInput" formControlName="isPrivate">
                <option value="false">Public</option>
                <option value="true">Private</option>
            </select>
        </div>
        <div class="form-row">
            <label for="descrInput">Description:</label>
            <textarea class="form-row__input" id="descrInput" placeholder="(optional)" formControlName="description"></textarea>
        </div>
    </div>
    <div mat-dialog-actions>
        <button class="btn btn-cancel"
                type="button"
                (click)="onNoClick()"
        >Cancel
        </button>
        <button class="btn"
                [disabled]="form.invalid"
                type="submit"
                cdkFocusInitial>Create
        </button>
    </div>
</form>
