<header>
    <a class="header__logo" href="">scriptyAdmin</a>
    <ul class="header-menu">
      <!--<li class="header-menu__item"><a class="header-menu__link" href=""><mat-icon matBadge="22" matBadgePosition="above after">home</mat-icon><i class="fas fa-search"></i></a></li>-->
      <li class="header-menu__item"><a class="header-menu__link"  href=""><i class="fas fa-bell"></i></a></li>
      <li class="header-menu__item"><a class="header-menu__link"  href="">Users</a></li>
      <li class="header-menu__item"><a class="header-menu__link"  href="">Logout</a></li>
    </ul>

</header>