<header>
    <a class="header__logo" href="">scriptyAdmin</a>
    <ul class="header-menu">
      <li class="header-menu__item">
        <a class="header-menu__link" href="">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li class="header-menu__item">
        <a class="header-menu__link" href="">
          <mat-icon matBadge="5" matBadgePosition="above after"><i class="fas fa-bell"></i>
          </mat-icon>
        </a>
      </li>
      <li class="header-menu__item"><a class="header-menu__link"  href="">Users</a></li>
      <li class="header-menu__item"><a class="header-menu__link"  href="">Logout</a></li>
    </ul>

</header>