@import "variables";

.background {
  background-color: $primary-color;
  width: 100%;
  height: 100%;
  .form {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    label {
      min-width: 100px;
    }
    .file-row {
      margin: 10px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      label {
        margin-right: 20px;
        text-align: center;
        display: inline-block;
        line-height: 40px;
      }
      .file-name {
        flex-grow: 1;
        text-align: center;
        max-width: 160px;
        overflow-x: auto;
      }
      input {
        visibility: hidden;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    .mat-small {
      &__error {
        margin-left: 100px;
        margin-top: -5px;
        color: red;
      }
      font-size: 11px;
    }
    &-row {
      &__input {
        flex-grow: 1;
        resize: vertical;
      }
    }
    button {
      margin-top: 20px;
    }
  }
}