<form [formGroup]="form" (ngSubmit)="submit()">
  <h1 mat-dialog-title>Edit {{project.name}}</h1>
  <div mat-dialog-content>
    <div class="form-row">
      <label for="typeInput">Type:</label>
      <mat-form-field>
        <select id="typeInput" matNativeControl formControlName="type">
          <option
                  *ngFor="let type of projectTypes"
                  [value]="type"
          >{{ type }}</option>
        </select>
      </mat-form-field>
    </div>
    <div class="form-row">
      <label for="visibilityInput">Visibility:</label>
      <mat-form-field>
        <select id="visibilityInput" matNativeControl formControlName="isPrivate">
          <option value="false">Public</option>
          <option value="true">Private</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-flat-button
            type="button"
            (click)="onNoClick()"
    >Cancel</button>
    <button mat-flat-button
            color="primary"
            [disabled]="form.invalid"
            type="submit"
            cdkFocusInitial>Save</button>
  </div>
</form>
