.mat-card{
  margin: 20px 0;
}
.card-row{
  h4{
    width: 100px;
  }
  display: flex;
  max-width: 400px;
  width: 100%;
  align-items: center;
}
.mat-card-actions{
  display: flex;
  justify-content: space-between;
}