<div class="search">
    <input class="search__input" [(ngModel)]="searchStr" type="text" (ngModelChange)="onChange(searchStr)" placeholder="Search...">
    <div class="search__group">
        <input id="myProjectsCheck" type="checkbox"
               [(ngModel)]="onlyMyProjects"
               (ngModelChange)="showMyProjects(onlyMyProjects)">
        <label for="myProjectsCheck">Only my projects</label>
    </div>
    <button class="btn" type="button" (click)="openDialog()">Create project</button>
</div>