.form-container{
    margin: 0 auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    
    .heading{
        display: flex;
        flex-direction: row;
        
        h2{
            margin: 10vh auto;
        }
    }
    
    .mainPart{
        width: 100%;
        margin: 5vh auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        mat-form-field{
            width: 70%;
            margin: 2vh auto;
        }    
    }
    
    button{
        width: 20%;
        font-weight: 500;
        font-size: 1.4rem;
        margin: 5vh auto;
    }
}