<div class="form-container">
    <div class="heading">
        <h2 class="mat-display-2">Forgot password</h2>
    </div>
 
   <div class="mainPart">
        <mat-form-field>
            <input matInput placeholder="Name">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Password">
        </mat-form-field> 
        <mat-form-field>
            <input matInput placeholder="Confirm Password">
        </mat-form-field> 
    </div>
    
    <button mat-button>Submit</button>
</div>